{% extends "./layouts/main.njk" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block content %}

{% if isIntegrationEnv  %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% set html %}
  <p class="govuk-notification-banner__heading">
    This is the integration environment and may not be stable please use the <a class="govuk-notification-banner__link" href="https://gov-search.service.gov.uk/">live application</a>.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

{% endif %}
  <div
    class="govuk-main-wrapper"
    id="page-content"
    aria-busy="true"
  >
    <h1 aria-live="assertive" class="govuk-heading-xl loading initial">
      Loading, please wait
    </h1>
  </div>
{% endblock %}

{% block pageScripts %}
  <script type="module" src="/javascripts/main.js"></script>
{% endblock %}
