@import "node_modules/govuk-frontend/govuk/all";

body {
  font-family: arial, sans-serif;
}

#status {
  font-weight: bold;
  color: red;
}

svg {
  border: 1px solid black;
}

pre {
  background: #ddd;
}

.kg-checkboxes {
  padding: 0;
  display: inline;
}

.kg-checkboxes__item {
  display: inline-block;
  padding: 0 1em 0 0;
  background: #ddd;
}

.mode-buttons {
  margin-bottom: 0;
  button {
    border: 1px solid black;
    background: #ddd;
    &.search-active {
      border-width: 3px;
    }
  }
}

.search-panel {
  padding: 1em;
  border: 1px solid black;
}

#keyword-search-panel input {
  margin-top: 5px;
}

#keyword-search-panel, #contentid-search-panel {
  padding: 0;
  margin: 0;
  p {
    padding: 0;
    margin: 0;
  }
}

.govuk-button, .govuk-textarea {
  margin-top: 3px;
  margin-bottom: 0;
}

#clear {
  padding: 0px 5px;
}
