@import "node_modules/govuk-frontend/govuk/all";


.govuk-width-container {
  max-width: unset;
  margin-left: 20px;
  margin-right: 20px;
}

.govuk-hint {
  margin-bottom: 0;
}

//.govuk-table__header, .govuk-table__cell {
//  padding: 10px 20px 10px 20px;
//}

h1.initial {
  margin-top: 20px;
}

h1.main-title {
  float: left;
  max-width: 500px;
  margin-bottom: 0;
  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

#main-content {
  padding-top: 0;
}

.please-note {
  margin-top: 20px;
  padding-left: 10px;
  max-width: 300px;
  float: right;
  border: 1px solid black;
  max-width: 300px;
}

.govuk-footer {
  clear: both;
}

body {
  font-family: arial, sans-serif;
}

#status {
  font-weight: bold;
  color: red;
}

#results {
  float: right;
  width: 60%;
  padding: 10px;
}

#results-table {
  margin-top: 10px;
}

svg {
  border: 1px solid black;
}

pre {
  background: #ddd;
}

.kg-checkboxes, .kg-radios {
  padding: 0;
  display: inline;
  line-height: 1.2;
}

.kg-checkboxes__item, .kg-radios__item {
  display: inline-block;
  padding: 0 1em 0 0;
  background: #ddd;
}

.mode-buttons {
  margin-bottom: 0;
  button {
    font-size: 19px;
    border: 1px solid black;
    background: #ddd;
    &.search-active {
      border-width: 3px;
    }
  }
}

.search-panel {
  clear: both;
  float: left;
  width: 33%;
  padding: 10px 10px 0 10px;
}

.search-mode-panel {
  background: #f3f2f1;
  padding: 20px;
}

#keyword-search-panel {
  input {
    margin-top: 5px;
  }
  #keyword {
    max-width: 300px;
    margin-right: 10px;
  }
  #excluded-keyword {
    max-width: 405px;
  }

  .keyword-label {
    display: inline-block;
  }

  .taxon-facet {
    margin-top: 10px;
    #taxon {
      display: inline-block;
    }
  }
}

#keyword-search-panel {
  padding: 0;
  margin: 0;
}

#keyword-search {
  margin-top: 20px;
}

.govuk-button, .govuk-textarea {
  margin-top: 10px;
  margin-bottom: 0;
}

#clear {
  padding: 0px 5px;
  margin-top: 0;
}

#search-locations-wrapper {
  margin: 3px 0;
}

.experimental {
  background: #f33;
  color: white;
}

.sig {
  font-size: 16px;
  margin-top: 15px;
}

.has-tooltip{
  position: relative;
  display: inline-block;
  .tooltip-text {
    visibility: hidden;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    background: #ddd;
    position: absolute;
    z-index: 1;
    left: 10px;
  }
  &:hover .tooltip-text {
    visibility: visible;
  }
}

#cypher-query {
  clear: both;
  padding-top: 100px;
}

#locale {
  width: 100%;
  display: block;
}
