{% set assetPath = "/assets" %}
{% set serviceName = "Gov Search" %}
{% set serviceUrl = "/" %}

{% extends "govuk/template.njk" %}

{% from "govuk/components/skip-link/macro.njk"            import govukSkipLink -%}
{% from "govuk/components/header/macro.njk"               import govukHeader -%}
{% from "govuk/components/footer/macro.njk"               import govukFooter -%}
{% from "govuk/components/inset-text/macro.njk"           import govukInsetText -%}
{% from "govuk/components/table/macro.njk"                import govukTable -%}
{% from "govuk/components/radios/macro.njk"               import govukRadios -%}
{% from "govuk/components/button/macro.njk"               import govukButton -%}
{% from "govuk/components/notification-banner/macro.njk"  import govukNotificationBanner -%}
{% from "govuk/components/phase-banner/macro.njk"         import govukPhaseBanner %}

{% block head %}
{% if allowGoogleAnalytics %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{GTM_ID}}');</script>
<!-- End Google Tag Manager -->
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@31.3.2/dist/ag-grid-community.min.js" integrity="sha256-ULzU4/8xnTp9F6pbUw2GByUtsteCMTKi2W0+QNGuzwA=" crossorigin="anonymous"></script>

<!--[if !IE 8]><!-->
<link href="/main.css" rel="stylesheet" />
<link href="/assets/aaccessible-autocomplete.min.css" rel="stylesheet">
<!--<![endif]-->

<!--[if IE 8]>
  <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
<![endif]-->

<!--[if lt IE 9]>
  <script src="/html5-shiv/html5shiv.js"></script>
<![endif]-->
{% endblock %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing govuk-!-padding-top-0") %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://gov.uk",
    serviceName: serviceName,
    serviceUrl: serviceUrl,
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block bodyStart %}
{% if allowGoogleAnalytics %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{GTM_ID}}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
  {% include "../partials/cookieBanner.njk" %}
{% endblock %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      {% if hideFeedbackSurvey === true %}
      {% include "../partials/phaseBanner.njk" %}
      {% else %}
      {% include "../partials/feedbackMasthead.njk" %}
      {% endif %}
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
        items: [{
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/feedback-survey",
          text: "Feedback"
        }]
      }
  }) }}
{% endblock %}
{% block bodyEnd %}
  {% block scripts %}
  <script src="/assets/all.js"></script>
  <script src="/assets/accessible-autocomplete.min.js"></script>
  <script>
    window.havePostScriptsRun = false;
    window.GOVUKFrontend.initAll();
  </script>

    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
