.ag-theme-alpine {
  margin-bottom: 30px;
  font-family: 'GDS Transport', arial, sans-serif;
  --ag-input-focus-border-color: blue;
  --ag-range-selection-border-color: blue;
}

#grid-wrapper {
  position: relative;
  #grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99;
    opacity: 0;
    display: none;
  }
}

.ag-theme-alpine,
.ag-theme-alpine .ag-row {
  font-size: 19px;
}

.ag-body-horizontal-scroll.ag-scrollbar-invisible {
  pointer-events: all !important;
}

.ag-body-viewport-wrapper.ag-layout-normal {
  overflow-x: scroll;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.customHeaderContainer {
  width: 100%;
}

.customHeaderLabel {
  font-weight: normal;
  position: relative;

  &.sortable {
    cursor: pointer;
    position: relative;

    .sort-index {
      position: absolute;
      right: 20px;
      top: 3px;
      bottom: 0;
      background-color: #f8f8f8;
      z-index: 90;
      padding-left: 10px;
      font-weight: 100;
      font-size: 16px;
    }

    &.sorting-active {
      color: black;
      font-weight: bold;

      &.sorting-desc .icon-desc {
        color: black;
      }
      &.sorting-asc .icon-asc {
        color: black;
      }
    }

    .icon-desc,
    .icon-asc {
      position: absolute;
      font-size: 12px;
      color: #474747;
      padding-left: 10px;
      background-color: #f8f8f8;
    }

    .icon-desc {
      right: 0px;
      bottom: -2px;
    }

    .icon-asc {
      right: 0px;
      top: -1px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.ag-header-cell-moving {
  .customHeaderLabel.sortable {
    &::before,
    &::after {
      background-color: white;
    }

    .sort-index {
      background-color: white;
    }
  }
}

.visually-hidden {
  display: none;
}
