@import '~govuk-frontend/dist/govuk/all';
@import './app-masthead';
@import './grid.scss';

// Inverse button variables
$govuk-inverse-button-colour: govuk-colour('white');
$govuk-inverse-button-text-colour: govuk-colour('blue');
$govuk-inverse-button-hover-colour: govuk-tint(
  $govuk-inverse-button-text-colour,
  90%
);
$govuk-inverse-button-shadow-colour: govuk-shade(
  $govuk-inverse-button-text-colour,
  30%
);
// Because the shadow (s0) is visually 'part of' the button, we need to reduce
// the height of the button to compensate by adjusting its padding (s1) and
// increase the bottom margin to include it (s2).
$button-shadow-size: $govuk-border-width-form-element;

.govuk-phase-banner__content__tag {
  vertical-align: 30%;
}

/* remove this for fixed width */
.govuk-width-container {
  max-width: unset;
  margin-left: 20px;
  margin-right: 20px;
}

.govuk-header__link--service-name {
  font-size: 200%;
}

.govuk-error-summary {
  margin-top: 20px;
}

.govuk-hint {
  margin-bottom: 0;
}

.a11y-hidden {
  display: none;
}

h1.initial {
  margin-top: 20px;
}

h1.main-title {
  margin-top: 30px;
}

.govuk-footer {
  clear: both;
}

body {
  font-family: arial, sans-serif;
}

#status {
  font-weight: bold;
  color: red;
}

#results-table {
  margin-top: 10px;
}

.govuk-table__body {
  margin-top: 1px solid #b1b4b6;
}

pre {
  background: #ddd;
}

.kg-checkboxes,
.kg-radios {
  padding: 0;
  display: inline;
  line-height: 1.2;
  .kg-checkboxes__item,
  .kg-radios__item {
    display: inline-block;
    padding: 0 1em 0 0;
    background: #ddd;
    label {
      font-weight: normal;
    }
  }
}

.search-selector {
  margin-bottom: 30px;
  button {
    font-size: 19px;
    border: 0;
    border-bottom: 2px solid black;
    background: #ccc;
    color: black;
    &.active {
      background-color: #555;
      color: white;
    }
  }
}

.search-filters-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  @media (max-width: 1315px) {
    display: flex;
    flex-direction: column;
  }

  .organisation-search,
  .taxon-search,
  .language-search,
  .links-search {
    display: grid;
    grid-template-rows: 100px 100px 100px;
  }

  .search-filters-left-col {
    display: grid;

    &.keyword-search {
      grid-template-rows: 100px 200px 100px 100px 100px;
    }
  }

  .search-filters-right-col {
    display: grid;

    &.keyword-search {
      grid-template-rows: 100px 100px 100px 100px 100px;
    }
  }

  .autocomplete__menu {
    z-index: 99;
  }
}

.search-mode-panel.advanced-panel {
  width: 70%;
  min-width: 35%;
}

h1:focus-visible,
h2:focus-visible {
  outline: none;
}

.before-results-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .results-comments {
    display: inline-block;
    flex-basis: 50%;

    @media (max-width: 1315px) {
      flex-basis: 100%;
    }
  }
}

#clear-all-headers {
  border-right: 1px solid grey;
  padding-right: 14px;
}

#check-all-headers {
  margin-left: 10px;
}

#taxon-label {
  background: white;
}

#keyword-search {
  margin-top: 20px;
}

.govuk-button {
  margin-top: 10px;
  margin-bottom: 0;
}

#clear {
  padding: 0px 5px;
  margin-top: 0;
}

#search-locations-wrapper {
  margin: 3px 0;
}

.experimental {
  background: #f33;
  color: white;
}

.sig {
  font-size: 16px;
  margin-top: 15px;
}

#cypher-query {
  clear: both;
  padding-top: 100px;
}

#locale {
  width: 100%;
  display: block;
}

.search-panel {
  margin-bottom: 40px;
}

.info-button {
  vertical-align: bottom;
}

.feedback-banner {
  background: $govuk-brand-colour;
  margin-top: -30px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 30px;
  padding: 40px 20px 40px 20px;
  &-rule {
    border-top: 1px solid #ccc;
    margin: 5px 15px 30px 15px;
  }
  h2,
  .govuk-body {
    color: white;
    margin-bottom: 20px;
  }
  .govuk-button {
    background: white;
    color: $govuk-brand-colour;
    border: none;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    vertical-align: sub;
  }
  button {
    background: $govuk-brand-colour;
    color: white;
    border: none;
    vertical-align: sub;
    text-decoration: underline;
    font-size: 16px;
  }
}

.hidden {
  display: none;
}

.govuk-button--inverse {
  background-color: $govuk-inverse-button-colour;
  box-shadow: 0 $button-shadow-size 0 $govuk-inverse-button-shadow-colour;

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $govuk-inverse-button-text-colour;
  }

  &:hover {
    background-color: $govuk-inverse-button-hover-colour;

    &[disabled] {
      background-color: $govuk-inverse-button-colour;
    }
  }
}

.loader {
  margin-top: -1px;
  float: right;
  margin-left: 8px;
}

.results-container {
  $side-filters-width: 434px;
  $side-filters-margin-right: 20px;

  .results-container-row-1-headers {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    @media (max-width: 1315px) {
      flex-wrap: wrap;
    }

    .hide-panel-button-container {
      width: calc($side-filters-width + $side-filters-margin-right);
      padding-right: 0;

      @media screen and (max-width: 1315px) {
        order: 2;
        width: unset;
        padding-right: 16px;
      }
    }
  }

  .results-container-row-2-results {
    display: flex;

    @media (max-width: 1315px) {
      flex-direction: column;
    }

    .govuk-body {
      flex: 1;
    }

    .header-options-container {
      padding: 20px;
      border: 1px solid #c4c4c4;
      margin-bottom: 20px;

      .header-options-checkboxes-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 1315px) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    .search-results-table-container {
      margin-bottom: 0;

      .govuk-pagination {
        margin-bottom: 0;
      }
    }

    .side-filters {
      display: flex;
      flex-direction: column;
      flex-basis: $side-filters-width;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: $side-filters-margin-right;
      padding: 20px 30px;
      box-sizing: border-box;

      border: 1px solid #c4c4c4;

      @media (max-width: 1315px) {
        margin-bottom: 20px;
        margin-right: 0;
      }

      &.closed {
        display: none;
      }

      #side-filters-submit-btn {
        max-width: 175px;
        margin-bottom: 20px;
      }

      .side-filter-case-sensitive {
        padding-bottom: 30px;
      }

      .side-filter-fieldset {
        margin-top: -30px;
        margin-bottom: 30px;
      }

      .govuk-form-group {
        .autocomplete__menu {
          z-index: 99;
        }
      }
    }
  }

  &.hide-filters {
    .hide-panel-button-container {
      width: unset;
      padding-right: 16px;
    }
    .side-filters {
      display: none;
    }
  }
}

.pagination-select {
  select,
  label {
    display: inline-block;
  }

  select {
    min-width: auto;
    margin: 0 10px;
  }
}

#clear-side-filters-link {
  font-size: 19px;
}

.csv-select-container {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1315px) {
    order: 1;
    flex-basis: 100%;
    justify-content: flex-start;
  }

  .govuk-select {
    margin-right: 20px;

    @media (max-width: 1315px) {
      margin-right: 0;
      flex-basis: 45%;
    }
  }

  #csv-download-btn {
    margin: 0 0 3px 0;
    flex-shrink: 0;

    @media (max-width: 1315px) {
      flex-basis: 35%;
      min-width: 40px;
      margin-left: 10px;
    }
  }
}
