@import "../../node_modules/govuk-frontend/govuk/all";
@import "./search";

.govuk-phase-banner__content__tag {
  vertical-align: 30%;
}

.govuk-header {
  margin-bottom: 20px;
}

.govuk-header__link--service-name {
  font-size: 200%;
}

.govuk-error-summary {
  margin-top: 20px;
}

.a11y-hidden {
  display: none;
}

h1.initial {
  margin-top: 20px;
}

h1.main-title {
  margin-top: 30px;
}

#main-content {
  padding-top: 0;
}

.govuk-footer {
  clear: both;
}

body {
  font-family: arial, sans-serif;
}

#status {
  font-weight: bold;
  color: red;
}



svg {
  border: 1px solid black;
}

pre {
  background: #ddd;
}

.kg-checkboxes, .kg-radios {
  padding: 0;
  display: inline;
  line-height: 1.2;
  .kg-checkboxes__item, .kg-radios__item {
    display: inline-block;
    padding: 0 1em 0 0;
    background: #ddd;
    label {
      font-weight: normal;
    }
  }
}

.search-selector {
  margin-bottom: 30px;
  button {
    font-size: 19px;
    border: 0;
    border-bottom: 2px solid black;
    background: #ccc;
    color: black;
    &.active {
      background-color: #555;
      color: white;
    }
  }
}

h1:focus-visible, h2:focus-visible {
  outline: none;
}

.advanced-layout .meta-results-panel {
  float: none;
  max-width: unset;
}

.meta-results-panel {
  float: right;
  max-width: 30%;
  max-height: 300px;
  overflow-y: scroll;
  border: 3px solid black;
  padding: 20px 20px 4px 20px;
  margin-bottom: 20px;
  h1 {
    margin: 0;
  }

  &--collapsed {
    max-height: 170px;
    overflow: hidden;
  }

  #meta-results-expand {
    position: relative;
    top: 16px;
    left: 40%;
    padding: 0 2px 0 2px;
    border: 1px solid black;
  }

}

#taxon-label {
  background: white;
}

#keyword-search {
  margin-top: 20px;
}

.govuk-button {
  margin-top: 10px;
  margin-bottom: 0;
}

#clear {
  padding: 0px 5px;
  margin-top: 0;
}

#search-locations-wrapper {
  margin: 3px 0;
}

.experimental {
  background: #f33;
  color: white;
}

.sig {
  font-size: 16px;
  margin-top: 15px;
}

#cypher-query {
  clear: both;
  padding-top: 100px;
}

#locale {
  width: 100%;
  display: block;
}

.search-panel {
  margin-bottom: 40px;
}

.info-button {
  vertical-align: bottom;
}

.feedback-banner {
  background: $govuk-brand-colour;
  margin-top: -30px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 30px;
  padding: 40px 20px 40px 20px;
  &-rule {
    border-top: 1px solid #ccc;
    margin: 5px 15px 30px 15px;
  }
  h2, .govuk-body {
    color: white;
    margin-bottom: 20px;
  }
  .govuk-button {
    background: white;
    color: $govuk-brand-colour;
    border: none;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    vertical-align: sub;
  }
  button {
    background: $govuk-brand-colour;
    color: white;
    border: none;
    vertical-align: sub;
    text-decoration: none;
    font-size: 16px;
  }
}

.hidden {
  display: none;
}


.govuk-accordion .govuk-summary-list .govuk-summary-list__row:last-child {
  border-bottom: none;
}


.js-enabled .govuk-accordion__section-content {
  padding-bottom: 30px;
}

.sort-header {
  position: relative;
  padding: 0 10px 0 0;
  font-size: inherit;
  border-width: 0;
  display: inline;
  background-color: transparent;
  overflow: unset;
  cursor: pointer;
  font-family: "GDS Transport", arial, sans-serif;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &[data-event-action="desending"]:before {
    color: black;
  }
  &[data-event-action="ascending"]:after {
    color: black;
  }
  &[data-event-action="desending"],&[data-event-action="ascending"] {
    font-weight: bold;
  }

  &:before {
    content: " ▼";
    position: absolute;
    right: -10px;
    top: 9px;
    font-size: 0.7em;
    text-align: right;
    color: lightgrey
  }
  &:after {
    content: " ▲";
    position: absolute;
    right: -10px;
    top: -2px;
    font-size: .7em;
    text-align: right;
    color: lightgrey
  }
}

table tr:hover td {
  background: #f3f2f1;
}

button:focus mark.highlight {
  background-color: #ffdd00;
}

mark.highlight-bold {
  background-color: transparent;
  font-weight: bold;
}

#version {
  float: right;
  margin-top: 10px;
}
#results-table {
  border-collapse: separate;
}

#results-table p {
  display: inline-block;
  word-break: break-word;

}

.margin-top-minus-30 {
  margin-top: -30px;
}
#searchType {
  background-color: #efefef;
}
table.table-scroll {
  display: block;
   overflow-x: auto;
   /*white-space: nowrap;*/
   th {
     white-space: nowrap;
     margin-right: 20px;
   }
}

table.table-scroll {
    /*display: table;*/
    width: 100%;
}

#results-table th.govuk-table__header {
  font-weight: normal;

}

.govuk-table__header:last-child, .govuk-table__cell:last-child {
    padding-right: 5px;
}

.autocomplete__dropdown-arrow-down {
  z-index: 0 !important;
  border: none;
}

.checkbox-list-hidden {
  display: none !important;
}

.checkbox-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.tags-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    background-color: #efefef;
    display: inline;
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
    font-size: 16px;
    vertical-align: top;
  }
}

table thead th{
  white-space: nowrap;
}

[data-header="documentType"] {
  min-width: 200px;
}

[data-header="title"],
[data-header="taxons"],
[data-header="all_organisations"],
[data-header="primary_organisation"]{
  min-width: 300px;
}

[data-header="text"] {
  min-width: 600px;
  white-space: nowrap;
}

.sticky-header tbody td {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box-border {
  box-shadow: inset 0 0 0 1px #b1b4b6;
  margin-top: -1px;
  padding: 20px;
}

.header-options {
  box-shadow: inset 0 0 0 1px #b1b4b6;
  margin-top: 20px;
  padding: 20px;
}


.actions-bar {
  margin-bottom: 20px;
  button {
    margin-top: 0;
  }
}


#wrapper {
  overflow-x: scroll;
  width: 100%;
}


.sticky-header {
  margin-bottom: 0px;
  thead th{
    position:sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    border-bottom: 3px solid #b1b4b6 !important;
    margin-bottom: 0 !important;
  }
}



#scroller{
  width: 100%;
  height: 400px;
  overflow:auto;
}

#resultsPerPagePanel{
  padding-top: 20px;
  border-top: 3px solid #b1b4b6 !important;
}

.column-flex{
  display: flex;
}
.sidebar-left-column,
.sidebar-left-column-links{
  width: 100%;
  margin-right: 20px;
  float: left;
}

.sidebar-right-column{
  width: 100%;
  float: left;
  .govuk-form-group:first-child{
    margin-top: 100px;
  }
}

.sidebar-right-column-links{
  width: 100%;
  float: left;
}


.box-border .sidebar-right-column .govuk-form-group:first-child {
  margin-top: 0;
}


#myGrid {
    font-family: "GDS Transport", arial, sans-serif;
    font-weight: 400;
    [aria-sort="descending"] .ag-header-cell-text,
    [aria-sort="ascending"] .ag-header-cell-text{
      font-weight: bold;
    }
    .ag-cell,
    .ag-header-cell-text {
      font-size: 19px;
      font-weight: normal;
    }

}

.gu-mirror {
    thead th,
    thead th tr {
      border-bottom: none !important;
    }

    thead th {
    padding: 10px 20px;
    display: initial !important;
    border: solid 1px darkgrey !important;
    button {
      margin-left: -4px;
    }
    button:before {
      display: none;
    }
    button:after {
      display: none;
    }

  }

  tbody {
    display: none;
  }
}

.gu-mirror {
  opacity: 1 !important;
}
