<div class="app-masthead govuk-!-padding-6 govuk-!-margin-bottom-8" id="feedbackSurvey">
  <div class="app-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl app-masthead__title">Help us improve GovSearch</h1>
        <p class="app-masthead__description">Hello, we want to understand how you use GovSearch to make sure it works well for you and we’d love your feedback. You can tell us about your experience of using the app by completing this short questionnaire. It will take around 2 minutes and most questions are multiple choice.</p>
          <div class="govuk-button-group govuk-!-margin-top-4">
            {{ govukButton({
              text: "View survey",
              classes: "govuk-button--inverse govuk-button--start",
              isStartButton: true,
              href: "/feedback-survey"
            }) }}
            <a href="/hide-feedback-survey" id="hideFeedbackSurvey" class="govuk-link govuk-link--inverse">Hide this</a>
          </div>
      </div>
    </div>
  </div>
</div>
