<div class="app-masthead govuk-!-padding-6 govuk-!-margin-bottom-8" id="feedbackSurvey">
  <div class="app-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl app-masthead__title">Help us improve Gov Search</h1>
        <p class="app-masthead__description">Complete a short questionnaire about your experience of using Gov Search. It'll take about 2 minutes.</p>
          <div class="govuk-button-group govuk-!-margin-top-4">
            {{ govukButton({
              text: "Start questionnaire",
              classes: "govuk-button--inverse govuk-button--start",
              isStartButton: true,
              href: "/feedback-survey"
            }) }}
            <a href="/hide-feedback-survey" id="hideFeedbackSurvey" class="govuk-link govuk-link--inverse">Hide this</a>
          </div>
      </div>
    </div>
  </div>
</div>
