<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      GovSearch sync with www.gov.uk will be paused during the budget period.
    </p>
    <p> 
      During 29th and 30th October 2024 changes made to www.gov.uk will not show in GovSearch.
    </p>
    <p>
      This means that the data will not be up to date during this period.
    </p>
    </p>
  </div>
</div>